@model SqlGenerateViewModel
@{
    ViewData["Title"] = "首页";
}

<div class="row" style="padding-top:15px;">
    <div style="margin-bottom:15px; color:red;">
        @Model?.ErrorMsg
    </div>
    <form method="post" action="@Url.Action("Index")">
        <div class="form-group">
            <label>连接串</label>
            <input type="text" class="form-control" placeholder="数据库连接串" name="ConnectionString" value="@Model?.ConnectionString">
        </div>
        <div class="form-group">
            <label>表名</label>
            <input type="text" class="form-control" placeholder="请用空格隔开，为空表示生成全部表" name="TableNames" value="@Model?.TableNames">
        </div>
        <div class="form-group">
            <label>命名空间</label>
            <input type="text" class="form-control" placeholder="c#命名空间" name="NamespaceName" value="@Model?.NamespaceName">
        </div>
        <div class="form-group">
            <label>DbContext类名</label>
            <input type="text" class="form-control" placeholder="DbContext类名" name="DbContextName" value="@Model?.DbContextName">
        </div>
        <button type="submit" class="btn btn-primary" style="width:200px;">生 成</button>
    </form>
</div>
